menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
/*Uso de variables tipo "programacion"*/
    li{
        --border-color: black;
        --background-color: #555;
        width: calc(100% / 7);
        height: 60px;
        border-bottom: 3px solid var(--border-color);

        &:hover{
            --background-color:var(--border-color) ;
            --border-color:white;
            color: white;
            background-color: var(--background-color);

            a{
                color:white;
            }
        }

        a{
            text-decoration: none;
            text-align: center;
            color:#333;

        }
    }

    li:nth-child(1) { --border-color: #888; }
    li:nth-child(2) { --border-color: rgb(231, 54, 22);}
    li:nth-child(3) { --border-color: orange;}
    li:nth-child(4) { --border-color: yellow;}
    li:nth-child(5) { --border-color: green;}
    li:nth-child(6) { --border-color: rgb(10, 192, 228); } 
    li:nth-child(7) { --border-color: blue;}
}