/**
Hoja de estilos Movil de la pagina
--Disposicion de elementos
--Ajustes de tipografia en el movil
*/
main>table>tbody>tr>td{
  line-height: 0px;
}
main>ol{
  border: 2px solid black;
  width: 20%;
  margin:0 auto;
}
main>ol>li{
  display:inline;
  
}
table{
  margin: 0 auto;
  width: 60%;
}