/**
Hoja de estilos general de la pagina
--Tipografias
--Colores
*/
html{
    background-color:rgb(232, 255, 255)
}
body {
    font-family: "PT Sans Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 24px;
    line-height: 1.3em;
    /*background: rgba(0, 0, 0, 0.322);*/
    margin: 10px;
}
    h1,
    h2,
    h3,
    h4,
    h4,
    h6 {
    font-family: "Tauri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3em;
    letter-spacing: -3px;
    }
    h1 { font-size: 2em; }
    h2 { font-size: 1em; }
    h3 { font-size: 0.5em; }

  /*Header*/
  header>h1{
    font-size: 2em;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 34%, rgba(255,136,0,1) 57%, rgba(214,172,43,1) 100%);
    background-clip: text;
    color: rgb(0 0 0 / 20%);
    text-align: center;
    border-bottom: black 20px solid;
    border-top:black 20px solid;
  }
  nav{
    padding-top:15px;
    ul>li{
        list-style-type: none;
        display: inline;
        padding-right: 5px;
    }
  }
  /*main*/
  main>h1{
    text-align: center;
  }
  /*main --> tabla*/
  caption{
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .tabla-noticias{
    text-align: center;
    border: 1px solid black;
    width: 50%;
    
  }
    thead>tr>th{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    border: 1px solid black;
  }

  tbody>tr>td{
    font-family: "Tauri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: 1px solid black;
    padding-bottom: 2%;
  
  }
  header>nav>ul>li>a{
    font-size: 1.0em;
  }
  footer>ul>li>a{
    font-size: 0.7em;
  }
  #formulario-comentario>h1{
    font-size: 1.1em;
  }
  #seccion-de-comentarios>h2{
    font-size: 1.5em;
  }
#parrafo-principal::first-letter{
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(252, 0, 0);
}


/*Footer*/
footer{
    background-color: grey;
}


























































/*
h1{
    font-weight: bold;
    
}
ol>li>a{
    color: red;
}
table{
    background-color: aqua;
    th{
        text-transform: uppercase;
    }
    thead{
        background-color: green;
    }
    tbody{
        background-color: violet;
    }
}
input:invalid{
    background-color: ivory;
    outline: 2px solid red;
}
legend{
    font-size: 30px;
}
textarea{
    display: block;
}
caption{
    background-color: rgb(167, 42, 42);
    color:rgb(45, 45, 182);
    font-size: 40px;
}
*/