/*Nevos estilos*/
/*gobales*/
html{
    --color-fondo-1:rgb(136, 163, 172);
    --color-fondo-2:rgb(243, 161, 161);
    --color-fondo-3:rgb(250, 250, 250);
    --degradado-titulo:linear-gradient(0deg, rgb(160, 14, 14) 75%, rgb(252, 110, 110) 65%, rgb(255, 72, 0) 100%);
    --fuente1:"PT Sans Narrow", sans-serif;
    --fuente2:"Tauri", sans-serif;
    background: linear-gradient(45deg, var(--color-fondo-1) 25%, var(--color-fondo-2) 75%, var(--color-fondo-3));
    
    body {
        font-family: var(--fuente1);
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        line-height: 1.3em;
    }
    h1, h2, h3, h4, h6 {
    font-family: var(--fuente2);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3em;
    letter-spacing: -3px;
    }
    h1 { font-size: 1.5em; }
    h2 { font-size: 1em; }
    h3 { font-size: 0.5em; }
  }
/*header*/
header{
    font-size: 1.7em;
    background: var(--degradado-titulo);
    background-clip: text;
    color: rgba(0, 0, 0, 0);
    border-bottom: black 10px solid;
    border-top:black 10px solid;
    &>h1{
        border-bottom:black 10px solid;
    }
    &>nav>ul>li{
        font-size: 0.8em;
    }
    a:hover{/*la regla dice que el ortden es :link :visited :hover :active*/
      color:red;
    }
}
/*index.html*/
#inicio>main>table{
    border:2px black solid;
    text-align: center;
    font-size: 1em;

    tr{
        background-color: rgb(235, 138, 138);
        th{
            background-color: rgb(238, 78, 78);
        }
        &:nth-child(even) {
            background-color: #96d8ee;
            }
    }
    &>caption{
        font-family:var(--fuente2);
        text-align: end;
        font-size: 1em;
    }
    tfoot>tr>td,
    thead>tr>th{
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-weight: bold;
        border: 1px solid black;
    }
    tbody>tr>td{
        font-family: "Tauri", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        border: 1px solid black;
        line-height: 0;
        vertical-align: middle;
    
    }
    tbody>tr>td>a>img{
        border-radius: 50px;
        max-width: calc(100% - 2px);
        border: var(--color-fondo-2) 1px solid;
        &:hover{
            border-radius: 0px;
    
        }
    }
}
#listado-lateral{
    h1{
        font-size: 3em;
    }
    ol{
        font-size: 1em;
    }

}
/*formulario.html*/
#formulario-registro{
    background-color: rgb(235, 138, 138);
    fieldset{
      border: 2px dashed black;
      background: linear-gradient(45deg, rgb(136, 163, 172) 25%, rgb(243, 161, 161) 75%,rgb(250, 250, 250));
      
      &:hover{
        border:2px solid #baecfc;
      }
    }
    /**inputs*/
    input{
      font-size:1em;
      text-align: center;
      border-radius: 20px;
      background: #baecfc;
      /*background-color: #baecfc;*/
      border: rgb(233, 87, 87) 2px dotted;
      &:hover{
        border: rgb(233, 87, 87) 2px solid;
      }
      &:focus {
        outline: none;
        border:red 2px solid;
      }
  
    }
    input:invalid{
      background-color: rgb(255, 255, 0);
      border: transparent 2px solid;
      color:red;
      animation: shake 0.5s ease;
      &:hover{
        border: red 2px solid;
      }
      &:focus {
        outline: none;
      }
    }
    input::placeholder{
      font-family: "Tauri", sans-serif;
      color:#000000;
    }
    /*textarea y select*/
    textarea{
      font-size:1em;
      text-align: center;
      border-radius: 20px;
      background-color: #baecfc;
      border: rgb(233, 87, 87) 3px dotted;
      &:focus {
        outline: none;
        border:rgb(233, 87, 87) 3px solid;
      }
  
    }
    select{
      font-size:0.75em;
      border-radius: 20px;
      background-color: #baecfc;
      border: rgb(233, 87, 87) 3px dotted;
      &:focus {
        outline:none;
        border:rgb(233, 87, 87) 3px solid;
      }
    }
    #primer-campo,#tercer-campo,#quinto-campo{
      animation: entrada-izq 3s ease ;
    }
    #segundo-campo,#cuarto-campo,#sexto-campo{
      text-align: center;
      animation: entrada-der 4s ease ;
  }
}
/*noticia.html*/
#noticia{
  #parrafo-construido{
    color: rgb(92, 16, 16);
  }
  #parrafo-principal{
    text-align:left;
    &::first-letter{
      font-size: 1.5rem;
      font-weight: bold;
      color: rgb(59, 0, 0);
    }
  }
  .estilos-comunes{
    background:#bdb6b69d
  }
  #seccion-de-comentarios>h2{
    font-size: 1.5em;
  }

  #noticia1{
    h2:not(ol>h2,ul>h2){
      color:#8f6a6a
    }
    figcaption{
      font-size: 0.8em;
  }
  }
  #agrupados{
    font-size: 0.8em;
  }
  #formulario-comentario{ /*arreglar codigo arriba en el form para que no le de estilos a este tambien*/
    box-sizing: border-box;
    border: 1px solid #ff5900;
    background: linear-gradient(45deg, rgb(255, 255, 255) 25%, rgb(243, 161, 161) 75%,rgb(250, 250, 250));
    border-radius: 20px;
    textarea{
        font-size:100%;
        text-align: center;
        border-radius: 20px;
        background: #baecfc;
        /*background-color: #baecfc;*/
        border: rgb(233, 87, 87) 2px dotted;
        &:focus {
          outline: none;
          border:red 2px solid;
        }
      }
  }      
}
/*footer*/
footer{
    background-color: rgb(197, 158, 158);
}
/*Animaciones*/
@keyframes entrada-izq {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }
  50%{
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes entrada-der {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }
  50%{
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}
@keyframes flip {
	0% {
		transform: perspective(200px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(200px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(200px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(200px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(200px) scale(1);
		animation-timing-function: ease-in;
	}
}